# Booting on many riscv64 systems is slow. Let the user view progress.
# For minimum output use
# GRUB_CMDLINE_LINUX_DEFAULT="quiet"
GRUB_TIMEOUT=3
GRUB_TIMEOUT_STYLE=menu
GRUB_CMDLINE_LINUX_DEFAULT="efi=debug earlycon=sbi"
GRUB_CMDLINE_LINUX=""
GRUB_TERMINAL=console
